.formContainer {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
}


label {
    display: block;
    margin: 8px 0;
}

input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
}

.buttonBuy{
    background-color: #4caf50;
}

.error {
    color: red;
    margin-top: 10px;
}