.itemList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
}

.noProducts {
    text-align: center;
    font-size: 1.2rem;
    color: #333;
    margin-top: 20px;
    font-weight: bold;
}

/* .itemList .item {
    border: 1px solid #ccc;
    padding: 15px;
    width: 200px;
    text-align: center;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.itemList .item:hover {
    transform: scale(1.05);
}

.itemList .item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.itemList .item h3 {
    font-size: 1.1rem;
    color: #333;
    margin: 10px 0;
}

.itemList .item p {
    font-size: 1rem;
    color: #666;
}

.itemList .item button {
    background-color: #28a745;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.itemList .item button:hover {
    background-color: #218838;
} */
