.itemList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
}

.noProducts {
    text-align: center;
    font-size: 1.2rem;
    color: #333;
    margin-top: 20px;
    font-weight: bold;
}